@model TaskAuthenticationAuthorization.Views.Authentication.AccessDenied

@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>

<h3>Sorry, access to this resource is forbidden to you</h3>